// ==========================================================================
// Colour definitions
// ==========================================================================

$black: #000;
$white: #fff;

$col_input: #191919;
$col_inputBorder: #3f3f3f;
$col_inputBackgroundHover: #eaeaea;
$col_border: #a5a5a5;

/*=====  NEW COLOURS  ======*/
$primaryColor: #1ac0c6;
$col_font: $black;
$col_link: $primaryColor;
$col_linkHover: #0c585a;
$col_pageBg: #f3f3f3;
