/* Utilities */
@import "./style/utilities/normalize";
@import "./style/utilities/mixins";
@import "./style/base/colors";
@import "./style/base/typography";
@import "./style/base/base";
@import "./style/components/buttons";
@import "./style/components/react_tabs";
@import "./style/components/images";

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.hidden {
  display: none;
}

.App {
  display: flex;
  flex-direction: row;
  // height: 100vh;
  width: 100%;

  &.max-width {
    @include maxPageWidth;
  }
}
